@import "./styles/mixins";
@import "./styles/common/button";
@import "./styles/movie/movie-list-items";
@import "./styles/movie/card";
@import "./styles/movie/category-filter";
@import "./styles/layout/navbar";

html, body, * {
  box-sizing: border-box !important;
}

li, a {
  text-decoration: none;
  list-style: none;
}

#container {
  max-width: 90%;
  margin: auto;
  padding: 3rem 0;
}

#overview{
  max-width: 65%;
  margin: auto;
}
